.container-3{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5%;
}
.container-3 > div{
    display: flex;
    flex-flow: column;
}

.press-release-div{
    width: 65%;
    height: 100%;
    /*background-color: magenta;*/
    box-shadow: 0.1rem 0.1rem 0.6rem black;
    padding: 3%;
}
.press-release-div > div:nth-child(2)::-webkit-scrollbar{
    display: none;
}

.member-join-div{
    width: 32%;
    height: 100%;
    /*background-color: cyan;*/
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.member-join-div > div:nth-child(1){
    width: 100%;
    height: 20%;
    box-shadow: 0.1rem 0.1rem 0.6rem grey;
    padding: 6% 7%;
}
.member-join-div > div:nth-child(2){
    width: 100%;
    height: 75%;
    box-shadow: 0.1rem 0.1rem 0.6rem black;
    padding: 8% 8%;
}


form > div{
    padding: 1%;
}
label{
    font-size: 1.5rem;
}

input{
    width: 100%;
    padding: 1.5%;
}

input[type=submit]{
    background-color: rgb(95, 0, 158);
    color: white;
    margin-top: 2%;
}

@media(max-width: 76rem){
    .container-3{
        flex-flow: column;
        height: auto;
    }
    .press-release-div{
        margin: 1% 0%;
        width: 96%;
        padding: 6%;
        height: 50vh;
    }
    .member-join-div{
        margin: 1% 0%;
        width: 96%;
    }
    .member-join-div > div:nth-child(2){
        margin: 3% 0%;
    }
}