<!DOCTYPE html>
<html>
<head>
    <title> राष्ट्रिय मताधिकार पार्टी </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
	<link href="css/for_homepage.css" rel="stylesheet" type="text/css" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Black+Ops+One&family=Langar&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <div class="container-1" >
            <div class="navigation-bar">
                <div class="navigation-bar-child-1"> <h2 style="padding-left: 3%; font-family: 'Aclonica', sans-serif;"> राष्ट्रिय मताधिकार पार्टी  <br /> Rashtriya Matadhikar Party </h2> </div>
                <div class="navigation-bar-child-2">
                    <div class="navigation-bar-child-2-child-1" id="toggleClass" > 
                        <div> <button onclick="function_hero()"> Join RMAP </button> </div>
                        <div> <button> Contact Us </button> </div>
                        <div> <button> Donate Us </button> </div>
                        <div>
                            <div> Text </div>
                            <div> <button onclick="document.body.style.fontSize = '40px'"> A+ </button> </div>
                            <div> <button> A </button> </div>
                            <div> <button> A- </button> </div>
                        </div>
                        <div> 
                            <select>
                                <option> Hindi </option>
                            </select> 
                        </div>
                    </div>
                    <div class="navigation-bar-child-2-child-2" onclick="function_hero()"><h1> &#9776;</h1></div>
                </div>
            </div>
        </div>
        
        <script>
            let x = "j";
            function function_hero(){
                console.log(x);
                if(x === "j"){
                    document.querySelector("#toggleClass").classList.add("toggle-1");
                    document.querySelector(".floating-div").style.zIndex = "2";
                    document.querySelector(".floating-div").style.marginTop = "0";
                    x = "m";
                }
                else{
                    document.querySelector("#toggleClass").classList.remove("toggle-1");
                    document.querySelector(".floating-div").style.zIndex = "12";
                    document.querySelector(".floating-div").style.marginTop = "-5vh";
                    x = "j";
                }
            }
        </script>
        
        <!-- Floating DIV -->
        
        <div class="floating-div">
            <div class="floating-div-child-1"> 
                <div> <button style="border: none; background: none; color: white;" > <h4 style="text-shadow: 1px 1px 4px rgb(14, 2, 2);"> HELLO WORLD </h4> </button> </div>
                <div> <button style="border: none; background: none; color: white;" > <h4 style="text-shadow: 1px 1px 2px black;"> HELLO WORLD </h4>  </button> </div>
                <div> <button style="border: none; background: none; color: white;" > <h4 style="text-shadow: 1px 1px 2px black;"> HELLO WORLD </h4> </button> </div>
                <div> <button style="border: none; background: none; color: white;" > <h4 style="text-shadow: 1px 1px 2px black;" > HELLO WORLD <i class="fa fa-caret-down"></i></h4> </button> </div>
                <div> <button style="border: none; background: none; color: white;" > <h4 style="text-shadow: 1px 1px 2px black;"> HELLO WORLD <i class="fa fa-caret-down"></i> </h4> </button> </div>
                <div> <button style="border: none; background: none; color: white;" > <h3 style="text-shadow: 1px 1px 2px black;"> <i class="fa fa-search"></i>  </h3> </button> </div>
            </div>
        </div>
        
        
        <!-- Container - 2 for Beautifull Corousal --> 
        
        <div class="container-2" >
            <div class="container-2-child-1" scroll="no" style="overflow: hidden;">
                <div class="container-2-child-1-child-1" >
                    <div style="background-color: black;"> <img /> </div>
                    <div style="background-color:grey;" > </div>
                </div>
                <div style="background-color: grey;"> 
                    <img />
                </div>
                <div style="background-color: green;"> 
                    <img />
                </div>
                <div style="background-color: yellow;"> 
                    <img />
                </div>
            </div>
            <div class="corousal-prev" onclick="prev()"> <h2> &lsaquo; </h2> </div>
            <div class="corousal-next" onclick="next()"> <h2> &rsaquo; </h2> </div>
            <div class="corousal-bullet-container"> 
                <button> &bull; </button>
                <button> &bull; </button>
                <button> &bull; </button>
                <button> &bull; </button>
                <button onclick="stop()"> <i class="fa fa-pause"></i> </button>   
            </div>
        </div>
        
        
        <!--******************      Container - 3  ******************* *-->
        <div>
        
        </div>
    </div>
    
    
    
    
    
<script>
    let counter = 0;
    function next(){
        console.log("You clicked next");
        counter += 1;
        let sw = document.querySelector(".container-2-child-1-child-1").scrollWidth;
        document.querySelector(".container-2-child-1").scrollLeft += sw;
    }
    function prev(){
        counter -= 1;
        let sw = document.querySelector(".container-2-child-1-child-1").scrollWidth;
        document.querySelector(".container-2-child-1").scrollLeft -= sw;
    }
    let i = "jeevan";
    function stop(){
        if(i == "jeevan"){
            clearInterval(inter);
            i = "mrityu";
        }else{
            setInterval(interval, 3000);
        }
    }
    
    let inter;
    window.onload = () => {
        inter = setInterval(interval, 3000);
    }
    
    const interval = () => {
        next();
        if(counter == 4){
            document.querySelector(".container-2-child-1").scrollLeft = 0;
        }
    }
</script>
</body>
</html>